.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Your Font Name", sans-serif; /* 替换为你想要使用的字体 */
}

.welcome-msg {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif; /* 替换为你想要使用的字体 */
}

.time {
  font-size: 24px;
  text-align: center;
}

.logout-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.logout-btn {
  background-color: #f44336;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}
