<div class="register-container">
  <h2>Register</h2>
  <form (ngSubmit)="register()">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required [(ngModel)]="username">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required [(ngModel)]="email">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required [(ngModel)]="password">

    <button type="submit">Register</button>
  </form>
</div>
